 * {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: right;
  margin-top: 2rem;
}
.flex {
  display: flex;
  justify-content: space-between;
}

.navList {
  padding-right: 2rem;
  margin-bottom: 1rem;
  color: white;
}


.logo-AFAC {
  margin: 1rem 1rem;
}
